h2,h3{
    color:rgb(81, 0, 255);
}
p{
    color:rgb(255, 106, 0)
}
button{
    color:rgb(0, 81, 255);
    background-color:gold
}

#box{
    color:rgb(255, 255, 255);
    background-color: deeppink;
}
#one{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    text-transform: capitalize;
}
h4{
    color:rgb(42, 165, 144);

}
h1{
    color:black;
    text-align: center;
    text-decoration:line-through
}