#bo{
    height: 100px;
    width: 200px;
    background-color: rgb(199, 21, 21);
    font-size: 20px;
}
#box{
    height: 100px;
    width: 30%;
    margin-left: 10px;
    background-color: darkgray;
    font-size: 2em;
    width:5rem; /*it is relative to itself fot size */
}
div{
    height: 100px;
    width: 100px;
    border:2px solid black;
    display:inline-block;
}
#box1{
    background-image: url("ashish_photo.jpg");
    background-size: cover;
}
#box2{
    position:relative;
    top:10px;
    left:20px;
}
#box3{
    position:absolute;/* means relative from the browsers screen*/
    top:40px;
}
#box4{
     position:fixed; /*means relative from the document page  */
     right: 10px;
}
#box5{
    position: sticky;
    top:70px;
    
}