div{
    height: 100px;
    width:100px;
    background-color:rgba(255, 165, 0,0.5);
    border-width:3px;
    border-style:solid;
    border-color:darkred;
}
h1{
    height:100px;
    width:200px;
    text-align: center;
    background-color: rgb(255, 0, 43);
    border-width:5px;
    border-style:dashed;
    border-color:rgb(238, 255, 0);
}
.box{
    height: 100px;
    width: 100px;
    background-color: lime;
    border-width:5px;
    border-style:double;
    border-color:rgba(255, 0, 0 );
    border-radius:10%;
    padding:30px;
    margin:50px;


}
